.mypageNews {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.mypageNews__news {
    border: 1px solid black;
    padding: 1rem 4rem;
    width: 40vw;
}

.mypageButtons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mypageButtons__buttonGray {
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    min-width: 240px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    box-shadow: 0 5px 0 #aaaaaa;
    transition: 0.1s;
    border-radius: 30px;
    border: none;

    &:hover {
        transform: translateY(3px);
        text-decoration: none;
        box-shadow: 0 2px 0 #aaaaaa;
        cursor: pointer;
    }
}
.mypageButtons__button {
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    min-width: 240px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    background-color: #cceeb8;
    box-shadow: 0 5px 0 #b1cfa0;
    transition: 0.1s;
    border-radius: 30px;
    border: none;

    &:hover {
        transform: translateY(3px);
        text-decoration: none;
        box-shadow: 0 2px 0 #aaaaaa;
        cursor: pointer;
    }
}

.button-white-S {
    /* background-color: ; */
    color: black;
    width: 155px;
    min-width: 155px;
    font-size: 16px;
    padding: 3px 5px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.button-white-S:hover {
    background-color: white;
    color: black;
}

.mypage-tree {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 40rem;
    width: 100%;
}
.mypage-tree-books {
    padding: 9rem 2rem 4rem 2rem;
}

.mypage-tree-books__books {
    position: relative;
}

.mypage-tree-books:nth-child(odd) {
    margin-top: 80px;
}

.mypage-tree-books__account {
    position: absolute;
    right: -2rem;
    bottom: -2rem;
}

.account-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 4px solid white;
}
.mypage-tree-books__account-link:hover {
    opacity: 30%;
}
