.recommended{
    position: relative;
    height: 15vw;
    .icon{
        position: absolute;
        width: 6vw;
        height: 6vw;
        z-index: 5;
        left: 24%;
        top: 10px;
        img{
            width: 100%;
            height: 100%;
            border-radius:50%;
            border: solid 0.5vw green;
            
        };
    }
    .greencloud{
        position: absolute;
        top: 4.3vw;
        width: 12vw;
        height: 5vw;
        left: 20%;
        img{
            width: 100%;
            height: 100%;
    
        }
    }
    .fukidashi{
        position: absolute;
        width: 30vw;
        height: 10vw;
        left: 40%;
        top: 0;
        img{
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
        .sentence1{
            position: absolute;
            top: 0px;
            font-size: 1.7vw;
            left: 34vw;
        }
        .sentence2{
            position: absolute;
            font-size: 2vw;
            top: 3vw;
            left: 30vw;
        }
}
