
.reviewpageReview__title{
    background-color: lightblue;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

// BookWithReviewに関するstyles
.reviewpageReviewBlock{
    display: flex;
    margin: 3rem 3rem;
    position: relative;
}
.reviewpageReviewBook{
    display: flex;
    margin: 3rem 0;
    position: relative;
}
 

.reviewpageReviewContent{
    flex:3;
    margin:0 4rem;
    
}
.reviewpageReviewContent__reason{
    background-color: gray;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 20px;
}
.reviewpageReviewContent__comment{
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1.5rem;
    background-color: gray;
    height: 10rem;
    border-radius: 20px;
}

