.reviewtree{
    position: relative;
    height: 90vw;
    .reviewtree_pic{
        position: absolute;
        width: 85%;
        left: 7vw;
    }
    .sentence_1{
        position: absolute;
        top: 2.5vw;
        left: 37vw;
        font-size: 6vw;
        line-height: 0px;
    }
    .sentence_2{
        position: absolute;
        top: 11.5vw;
        left: 38vw;
        font-size: 1.5vw;
    }
}
.icon_pic2{
    position: absolute;
    width: 5vw;
    height: 5vw;
    left: 35%;
    top: 1vw;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: solid 0.2vw rgb(255, 214, 79);

    }
}
.icon_pic1{
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 24vw;
    z-index: 1006;
    top: 20vw;
    border-radius:50%;
    border: solid 0.5vw rgb(255, 214, 79);

    img{
        position:relative;
        width:100%;
        height:100%;
        border-radius: 50%;
        z-index:2;

        &:hover{          
            opacity: 0.7;          
        }
    }
    &:before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        background-color:white;
        width:100%;
        height:100%;
        border-radius:50%;
        z-index:0;
    }
}
