.littletreeWrapper{
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.littletreeWrapper2{
    display: flex;
    flex-direction: column;
    margin-top: 155px;
}



.forestWrapper{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}

@media screen and (max-width: 920px) {
    .forestWrapper{
        display: flex;
        flex-direction: column;
    }
}