.title{
    width: 36vw;
    margin-top: 10vw;
    margin-left: 32vw;
    margin-bottom: 2vw;
}

.Twitter{
    width: 30vw;
    height: 4vw;
    font-size: 1.8vw;
    text-align: center;
    background-color: rgb(104, 205, 251);
    color: white;
    margin-left: 35vw;
    position: relative;
    border-radius: 100px;
    padding-top:1.3vw ;
    cursor: pointer;
}
.Google{
    width: 30vw;
    height: 4vw;
    background-color: gray;
    font-size: 1.8vw;
    text-align: center;
    color: white;
    margin-left: 35vw;
    border-radius: 100px;
    padding-top:1.3vw ;
    cursor: pointer;
}