.icon{
    width: 6vw;
    height: 6vw;
    position: relative;
    border-radius: 50%;

    img{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 1;
        transition: all 0.4s;
    border: solid 0.5vw rgb(255, 214, 79);

        &:hover {
            opacity: 0.5;
            cursor: pointer;
            transition: all 0.4s;
            transform: scale(1.5);
        }
    }
    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: white;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        z-index: 0;
    }
}