    .littletree_pic {
        position: relative;
        height: 35vw;
        width: 27vw;
        // メイン画像の位置を動かす時
        z-index: 1000;
        img{
            //LittleTreeの大きさ
            width: 87%;

        }
        .flag_sentence_1 {
            position: absolute;
            top: -5vw;
            left: 3vw;
            font-size: 2.5vw;
        }
        .flag_sentence_2 {
            position: absolute;
            top: 0vw;
            left: 8vw;
            font-size: 1.5vw;
            text-align: center;
        }
        .icon_pic {
            position: absolute;
            border-radius: 50%;
            width: 6vw;
            height: 6vw;
            left: 3vw;
            top: 4vw;
            border: solid 4px rgb(255, 214, 79);
            img {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                z-index: 1000;
                transition: 0.3s;

                &:hover {
                    opacity: 0.5;
                    // transition: 0.5s;
                    cursor: pointer;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-color: white;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                z-index: 0;
            }
        }
        
    }
   

// レスポンシブ350pxまで
// @media screen and (max-width: 920px) {
//     .icon_pic{
//         top: 35vw;
//     }
// }
// @media screen and (max-width: 865px) {
//     .icon_pic{
//         top: 36vw;
//     }
// }
// @media screen and (max-width: 755px) {
//     .icon_pic{
//         top: 38vw;
//     }
// }
// @media screen and (max-width: 670px) {
//     .icon_pic{
//         top: 40vw;
//     }

// }
// @media screen and (max-width: 610px) {
//     .icon_pic{
//         top: 42vw;
//     }

// }
// @media screen and (max-width: 550px) {
//     .icon_pic{
//         top: 43vw;
//     }
// }
// @media screen and (max-width: 500px) {
//     .icon_pic{
//         top: 44vw;
//     }
//     .flag_sentence_2{
//         font-size: 1vw;
//     }
// }
// @media screen and (max-width: 465px) {
//     .icon_pic{
//         top: 45vw;
//     }
// }
// @media screen and (max-width: 440px) {
//     .icon_pic{
//         top: 46vw;
//     }
// }
// @media screen and (max-width: 420px) {
//     .icon_pic{
//         top: 47vw;
//     }
// }
// @media screen and (max-width: 400px) {
//     .icon_pic{
//         top: 49vw;
//     }
//     .flag_sentence_2{
//         left: 20vw;
//     }
// }
// @media screen and (max-width: 375px) {
//     .icon_pic{
//         top: 50vw;
//     }
// }
// @media screen and (max-width: 355px) {
//     .icon_pic{
//         top: 52vw;
//     }
//     .flag_sentence_1{
//         top: 2vw;
//     }
// }
