.title {
    font-size: 3vw;
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 3vw;
}

.Twitter {
    width: 30vw;
    height: 4vw;
    font-size: 1.8vw;
    text-align: center;
    background-color: rgb(114, 211, 255);
    color: white;
    margin-left: 35vw;
    position: relative;
    border-radius: 100px;
    padding-top: 1.3vw;
    cursor: pointer;
    box-shadow: 0 5px 0 #4eb8ff;
    transition: 0.1s;
    border-radius: 30px;
    border: none;

    &:hover {
        transform: translateY(3px);
        text-decoration: none;
        box-shadow: 0 2px 0 #91beec;
        cursor: pointer;
    }
}
.Google {
    width: 30vw;
    height: 4vw;
    background-color: gray;
    font-size: 1.8vw;
    text-align: center;
    color: white;
    margin-left: 35vw;
    border-radius: 100px;
    padding-top: 1.3vw;
    cursor: pointer;
    box-shadow: 0 5px 0 #535353;
    transition: 0.1s;
    border-radius: 30px;
    border: none;

    &:hover {
        transform: translateY(3px);
        text-decoration: none;
        box-shadow: 0 2px 0 #aaaaaa;
        cursor: pointer;
    }
}
