.title{
    font-size: 3vw;
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 3vw;
}


.Twitter{
    width: 30vw;
    height: 4vw;
    font-size: 1.8vw;
    text-align: center;
    background-color: rgb(89, 178, 219);
    color: white;
    margin-left: 35vw;
    position: relative;
    border-radius: 100px;
    padding-top:1.3vw ;
    cursor: pointer;
}
.Google{
    width: 30vw;
    height: 4vw;
    background-color: gray;
    font-size: 1.8vw;
    text-align: center;
    color: white;
    margin-left: 35vw;
    border-radius: 100px;
    padding-top:1.3vw ;
    cursor: pointer;
}