.BigTreeWrapper {
    background-image: url('/images/BigBookTree.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    padding: 5rem 0 8rem 0;
    margin: 3rem 0;
    overflow-x: scroll;
    // TODO: three js にする
}

.BigTreeWrapper3D {
    width: 80%;
    padding: 5rem 0 8rem;
    height: 55vh;
    display: inline-block;
    text-align: center;
}

.books_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 10px;
}
@media screen and (max-width: 420px) {
    .BigTreeWrapper {
        padding: 5rem 0rem 8rem 0;
        margin: 0rem 0;
    }
    .BigTreeWrapper3D {
        width: 100%;
        padding: 0rem 0 0rem;
        height: 55vh;
        margin: 3rem auto;
    }
}
