.BigTreeWrapper {
    background-image: url('/images/BigBookTree.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 5rem 0 8rem 0;
    margin: 3rem 0;
}

.books_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 10px;
}
