.navbar_wrapper {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 10000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(250, 250, 250, 0.96);
    backdrop-filter: blur(3px);
}
.booktree_logo_wrapper {
    cursor: pointer;
    position: absolute;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.booktree_logo {
    height: 100%;
    object-fit: contain;
}

// vw だとスマホのときに米粒になってしまう
.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        transition: all 0.3s ease;
        /* 6dp elevation modified*/
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.3);
    }
}

.navMenu {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #f4fcdb;
    width: 200px;
    padding: 0;
    box-shadow: 10px 10px rgb(205, 226, 110);
    border-radius: 5px;
    ul {
        list-style: none;
        align-items: center;
        padding-left: 20px;
        li {
            cursor: pointer;
            font-weight: bolder;
            color: rgb(20, 20, 20);
            opacity: 1;
            padding: 10px 5px;
            font-size: 15px;
            align-items: center;
            position: relative;
        }
        li::after {
            position: absolute;
            margin-left: 13px;
            bottom: -2px;
            left: 0;
            content: '';
            width: 90%;
            height: 1.7px;
            background: rgb(71, 71, 71);
            transform: scale(0, 1);
            transform-origin: left top;
            transition: transform 0.4s;
        }
        li:hover::after {
            transform: scale(1, 1);
        }
    }
}

// ul {
//     display: flex;
//     align-items: center;
//     list-style: none;
//     justify-content: space-around;
//     margin: 0;
//     padding: 1.5vw;
//     cursor: pointer;
//     margin-left: 60vw;
//     li {
//         font-size: 1.3vw;
//         position: relative;
//     }
//     li::after {
//         position: absolute;
//         bottom: -4px;
//         left: 0;
//         content: '';
//         width: 100%;
//         height: 2px;
//         background: black;
//         transform: scale(0, 1);
//         transform-origin: left top;
//         transition: transform 0.3s;
//     }
//     li:hover::after {
//         transform: scale(1, 1);
//     }
// }

// .yellowbox{
//     width: 18vw;
//     height: 3.5vw;
//     background-color: rgb(255, 214, 79);
//     border-radius: 100px;
//     margin-top: 1.3vw;
//     margin-right: auto;
//     margin-left: auto;
//     text-align:center;
//     line-height:3.5vw;
//     transition: 0.4s;
//     box-shadow: 0.5px 0.5px 3px;
//     position: relative;
//     .tukuttemiru{
//         margin-top: 1.3vw;
//         text-align:center;
//         width: 12vw;
//         position: absolute;
//         left:50%;
//         transform:translate(-50%);

//     }
//     .tukuttemiru_yellow{
//         margin-top: 1.3vw;
//         text-align:center;
//         width: 12vw;
//         z-index: 1001;
//         position: absolute;
//         left:50%;
//         transform:translate(-50%);
//         opacity: 0;
//     }
//     &:hover{
//         background-color: #6B6B6B;
//         color:  rgb(255, 214, 79);
//     }
//     &:hover  .tukuttemiru_yellow{
//         opacity: 1;
//     }
//     &:hover  .tukuttemiru{
//         opacity: 0;
//     }

// }
