.topContent {
    display: flex;
    flex-direction: row;
}
.topContentSteps__title {
    text-align: center;
    margin: 8% 0 4% 0;
}
.topContent__steps {
    display: flex;
    flex-direction: row;
    gap: 4%;

    .topContentSteps__block {
        display: flex;
        flex-direction: column;
        flex: 1;
        // TODO: ガタガタしてるの直したい
        .topContentSteps__photo {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 5%;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .topContentSteps__explain {
            text-align: center;
            width: 100%;
            margin-bottom: 3%;
            font-size: 22px;
            font-weight: bold;
        }
        .topContentSteps__explainS {
            font-size: 15px;
        }
    }
}

.topContent__staffTree {
    display: inline-block;
    flex: 2;
    width: 100%;
    vertical-align: middle;
}
.topContent__introduce {
    flex: 3;
    padding: 1rem 1rem 1rem 0;
}
.greenbar {
    margin-top: 80px;
    clip-path: polygon(0 20%, 0 0, 100% 40%, 100% 60%);
    height: 35vh;
    background-color: #6fa769;
    position: relative;
    z-index: -1;
}

.circleDate {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #91b522;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    left: 16%;
    top: -60px;
    .circleDate__date {
        color: white;
        padding: 1.8rem 1.6rem;
        font-size: 30px;
        font-weight: bold;
    }
}

.littletreeWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.littletreeWrapper2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 155px;
}
.littletreeWrapper3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}

.BookTreeForest {
    margin: 0 1rem;
    background-image: url('../public/images/home/dot.svg');
    background-repeat: space repeat;
    background-position: center center;
    background-size: 51%;
    position: relative;
    .shiori {
        position: absolute;
        z-index: 2;
        width: 580px;
        left: 16rem;
        margin-top: -70px;
    }
    .BookTreeForest__title {
        text-align: center;
        //font-size: 20px;
    }
}

.forestWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    gap: 2%;
    justify-content: center;
    //justify-content: space-between;
}

@media screen and (max-width: 380px) {
    .forestWrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

.Twitter {
    width: 30vw;
    height: 4vw;
    font-size: 1.8vw;
    text-align: center;
    background-color: rgb(159, 207, 150);
    color: white;
    margin-left: 35vw;
    position: relative;
    border-radius: 100px;
    padding-top: 1.3vw;
    cursor: pointer;
    box-shadow: 0 5px 0 #7c9b7f;
    transition: 0.1s;
    border-radius: 30px;
    border: none;

    &:hover {
        transform: translateY(3px);
        text-decoration: none;
        box-shadow: 0 2px 0 #3b5336;
        cursor: pointer;
    }
}
@media screen and (max-width: 380px) {
    .topContent__staffTree {
        position: relative;
        background-color: aqua;
    }
}
