.title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.icon {
    position: relative;
    width: 290px;
    height: 50px;
    text-align: center;
    margin: 15px auto;
    border-radius: 20px;
    cursor: pointer;  
}

.Twitter {
    background-color: #1d9bf0;
    color: white;
    font-weight: 700;
    box-shadow: 0 5px 0 #354980;
    transition: 0.1s;
    border-radius: 30px;
    border: none;
    padding-top: 10px;
    img{
        height: 30px;
        // margin-top: 8px;
        margin-right: 13px;
    }
    &:hover {
        transform: translateY(3px);
        text-decoration: none;
        box-shadow: 0 2px 0 #1b293f;
        cursor: pointer;
    }
}
.Google {
    background-color: gray;
    color: white;
    font-weight: 700;
    box-shadow: 0 5px 0 #3f4446;
    transition: 0.1s;
    border-radius: 30px;
    border: none;
    padding-top: 15px;
    &:hover {
        transform: translateY(3px);
        text-decoration: none;
        box-shadow: 0 2px 0 #111213;
        cursor: pointer;
    }
}
